@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  overflow: hidden; }
  body .Main_Box {
    width: 100%;
    float: left;
    display: flex; }
    body .Main_Box .img_select {
      width: 45%;
      margin-left: 1vw;
      margin-top: 1vh;
      padding: 5px; }
      body .Main_Box .img_select #navigation_controls {
        margin-top: 1vh; }
      body .Main_Box .img_select .file_select_box {
        width: 100%;
        background-color: white; }
        body .Main_Box .img_select .file_select_box table {
          width: 100%;
          border-collapse: collapse;
          border-spacing: 0; }
          body .Main_Box .img_select .file_select_box table td {
            padding: 5px;
            background-color: white;
            border: 1px solid #a4a4a5; }
            body .Main_Box .img_select .file_select_box table td select {
              width: 100%;
              padding: 2px; }
            body .Main_Box .img_select .file_select_box table td input {
              width: 95%;
              padding: 2px; }
          body .Main_Box .img_select .file_select_box table .daimoku {
            background-color: #016e6e;
            color: white;
            text-align: center; }
      body .Main_Box .img_select .ims_sosa_box {
        width: 95%;
        height: 80%;
        display: flex;
        margin-top: 1vh;
        position: relative;
        padding: 10px;
        margin-bottom: 5vh; }
        body .Main_Box .img_select .ims_sosa_box .bunkatu_img_box {
          width: 70%;
          height: 70vh;
          overflow: auto;
          border: 1px solid #c7c6c6;
          border-radius: 5px; }
          body .Main_Box .img_select .ims_sosa_box .bunkatu_img_box .Img_cl {
            width: 90%;
            border: 1px solid #b5bfc2;
            padding: 0;
            top: 1vh;
            left: 0;
            right: 0;
            margin: auto;
            margin-bottom: 2vh;
            position: relative;
            border-radius: 5px;
            cursor: pointer; }
            body .Main_Box .img_select .ims_sosa_box .bunkatu_img_box .Img_cl:hover {
              opacity: 0.5;
              transform: 3s; }
            body .Main_Box .img_select .ims_sosa_box .bunkatu_img_box .Img_cl img {
              width: 80%;
              margin-left: 2.5vw;
              margin-top: 5vh;
              margin-top: -1vh;
              margin-bottom: 1vh; }
        body .Main_Box .img_select .ims_sosa_box .img_sosa {
          width: 40%;
          margin-left: 1vw;
          border-radius: 5px; }
          body .Main_Box .img_select .ims_sosa_box .img_sosa .ope_table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            padding: 5px; }
            body .Main_Box .img_select .ims_sosa_box .img_sosa .ope_table th,
            body .Main_Box .img_select .ims_sosa_box .img_sosa .ope_table td {
              width: 15%;
              padding: 1px; }
              body .Main_Box .img_select .ims_sosa_box .img_sosa .ope_table th button,
              body .Main_Box .img_select .ims_sosa_box .img_sosa .ope_table td button {
                width: 100%; }
              body .Main_Box .img_select .ims_sosa_box .img_sosa .ope_table th input,
              body .Main_Box .img_select .ims_sosa_box .img_sosa .ope_table td input {
                width: 50%;
                padding: 5px;
                border: 1px solid #b6b5b5; }
          body .Main_Box .img_select .ims_sosa_box .img_sosa .debug {
            width: 100%; }
            body .Main_Box .img_select .ims_sosa_box .img_sosa .debug th,
            body .Main_Box .img_select .ims_sosa_box .img_sosa .debug td {
              width: 20%;
              padding: 0; }
              body .Main_Box .img_select .ims_sosa_box .img_sosa .debug th button,
              body .Main_Box .img_select .ims_sosa_box .img_sosa .debug td button {
                width: 100%; }
              body .Main_Box .img_select .ims_sosa_box .img_sosa .debug th input,
              body .Main_Box .img_select .ims_sosa_box .img_sosa .debug td input {
                width: 80%; }
    body .Main_Box #pdf_viewer {
      width: 80%; }
      body .Main_Box #pdf_viewer #canvas_container {
        /** pdf表示画面のCSS この辺りはカスタマイズしてください。 */
        overflow: auto;
        width: 70%;
        height: 90vh;
        border: 1px solid #054569;
        text-align: center;
        overflow: hidden;
        top: 7vh;
        left: -6vw;
        position: relative; }
        body .Main_Box #pdf_viewer #canvas_container #Select_option {
          color: gray;
          font-weight: bold;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 0; }
        body .Main_Box #pdf_viewer #canvas_container #Mask_Table {
          border-collapse: collapse;
          border-spacing: 0;
          position: absolute;
          top: 10vh;
          left: 10vw;
          z-index: 10; }
          body .Main_Box #pdf_viewer #canvas_container #Mask_Table td {
            width: 2vw;
            height: 12px;
            padding: 0;
            border: 1px solid #d34e4e; }
        body .Main_Box #pdf_viewer #canvas_container img {
          border: 1px solid black;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          position: relative;
          z-index: -10; }
  body .maskcre {
    width: 10%;
    position: relative;
    left: 2vw;
    right: 0;
    top: 2vh; }
    body .maskcre button {
      width: 100%;
      font-size: 0.8vw; }
  body #croop {
    border: none;
    background-color: white;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    display: none; }
  body .canvus_box {
    width: 20%;
    height: 50%;
    border: 2px solid #054569;
    left: 80vw;
    position: absolute;
    overflow: auto; }
    body .canvus_box #canvas {
      padding: 5px; }
  body #dl_img_file {
    width: 15vw;
    height: 5vh;
    top: 55vh;
    left: -2vw;
    font-size: 0.9vw;
    position: relative; }
