body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    .Main_Box {
        width: 100%;
        float: left;
        display: flex;
        .img_select {
            width: 45%;
            margin-left: 1vw;
            margin-top: 1vh;
            background-color: rgb(12, 110, 155);
            padding: 5px;
            z-index: 100000000000000000000;
            #navigation_controls {
                margin-top: 1vh;
            }
            .file_select_box {
                width: 100%;
                background-color: white;
                table {
                    width: 100%;
                    border-collapse: collapse;
                    border-spacing: 0;
                    td {
                        padding: 5px;
                        background-color: white;
                        select {
                            width: 100%;
                            padding: 2px;
                        }
                        border: 1px solid rgb(164, 164, 165);
                        input {
                            width: 95%;
                            padding: 2px;
                        }
                    }
                    .daimoku {
                        background-color: rgb(4, 100, 100);
                        color: white;
                        text-align: center;
                    }
                }
            }
            .ims_sosa_box {
                width: 100%;
                display: flex;
                margin-top: 1vh;
                z-index: 100000000000;
                position: relative;
                .bunkatu_img_box {
                    width: 70%;
                    height: 80vh;
                    overflow: auto;
                    border: 1px solid rgb(199, 198, 198);
                    border-radius: 5px;
                    background-color: white;
                    .Img_cl {
                        width: 90%;
                        background-color: rgb(94, 109, 94);
                        border: 1px solid rgb(41, 70, 78);
                        padding: 0;
                        top: 1vh;
                        left: 0;
                        right: 0;
                        margin: auto;
                        margin-bottom: 2vh;
                        position: relative;
                        border-radius: 5px;
                        cursor: pointer;
                        box-shadow: 2px 2px 2px 2px #bbb;
                        &:hover {
                            opacity: 0.5;
                            transform: 3s;
                        }
                        img {
                            width: 80%;
                            margin-left: 2.5vw;
                            margin-top: 5vh;
                            margin-top: -1vh;
                            margin-bottom: 1vh;
                        }
                    }
                }
                .img_sosa {
                    width: 40%;
                    margin-left: 1vw;
                    background-color: white;
                    border-radius: 5px;
                    border: 1px solid gray;
                    .ope_table {
                        border-collapse: collapse;
                        border-spacing: 0;
                        width: 100%;
                        th,
                        td {
                            width: 15%;
                            padding: 2px;
                            button {
                                width: 100%;
                            }
                            input {
                                width: 50%;
                            }
                        }
                    }
                    .debug {
                        width: 100%;
                        th,
                        td {
                            width: 20%;
                            padding: 0;
                            button {
                                width: 100%;
                            }
                            input {
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }
        #pdf_viewer {
            width: 80%;
            #canvas_container {
                /** pdf表示画面のCSS この辺りはカスタマイズしてください。 */
                //  height: 100%;
                overflow: auto;
                width: 90%;
                height: 90vh;
                border: 2px solid rgb(5, 69, 105);
                text-align: center;
                overflow: hidden;
                top: 7vh;
                left: -6vw;
                position: relative;
                #Select_option {
                    color: gray;
                    font-weight: bold;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 0;
                }
                #Mask_Table {
                    border-collapse: collapse;
                    border-spacing: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    td {
                        width: 2vw;
                        height: 12px;
                        // max-width: 200px;
                        // min-width: 1px;
                        padding: 0;
                        border: 1px solid rgb(211, 78, 78);
                    }
                    z-index: 10;
                }
                img {
                    border: 1px solid black;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    position: relative;
                    z-index: -10;
                }
            }
        }
    }
    .maskcre {
        width: 10%;
        position: relative;
        left: 2vw;
        right: 0;
        top: 2vh;
        button {
            width: 100%;
            font-size: 0.8vw;
        }
    }
    #croop {
        border: none;
        background-color: white;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        display: none;
    }
    .canvus_box {
        width: 20%;
        height: 50%;
        border: 2px solid rgb(5, 69, 105);
        left: 80vw;
        position: absolute;
        overflow: auto;
        #canvas {
            padding: 5px;
        }
    }
    #dl_img_file {
        width: 15vw;
        height: 5vh;
        top: 55vh;
        left: -2vw;
        font-size: 0.9vw;
        position: relative;
    }
}